* {
  box-sizing: border-box;
}

.card-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  width: 100%;
}

.btn {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .card-form {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .card-form {
    display: inline-block;
  }

  .card {
    margin-bottom: 20px;
  }
}

h1 {
  margin: 16px 0;
}

.login-container {
  padding: 20px;
  background-color: #2f2e7d;
  margin-top: 20px;
  max-width: 600px;
  border-radius: 10px;
}

.btn-login {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.login-container h1,
.login-container label,
.login-container p {
  color: white;
}

.btn-admin {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #2f2e7d;
  border: 1px solid #2f2e7d;
}

.btn-admin:hover,
.btn-admin:active,
.btn-admin:focus {
  background-color: white;
  border: 1px solid #2f2e7d;
  color: #2f2e7d;
}

.admin-left {
  display: block;
  background-color: rgba(224, 224, 224, 0.178);
  padding: 20px;
  padding-left: 40px;
}

.admin-right {
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(179, 179, 179, 0.185) 0%,
    rgba(0, 212, 255, 0) 18%
  ); */
  padding: 20px;
  padding-right: 40px;
}

.admin-header {
  padding-left: 22px;
  color: #2f2e7d;
}