<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt cơm CG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Đặt Cơm CG</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <div class="login-group">
          <i
            class="fa fa-shopping-cart"
            style="font-size: 24px; color: green"
          ></i>
          <a href="/login" class="btn btn-add" style="width: 100px">Login</a>
        </div>
      </div>
    </nav>
    <div class="order-container">
      <h1>Thông tin đơn hàng</h1>
      <hr />
      <div class="order-card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Fe87c601c6e67b039e976.jpg?alt=media&token=ed661063-b2e3-4d8b-a5d8-1bd0bf26e610"
          alt=""
        />
        <div>
          <h4>Rau muống xào tỏi thêm nhiều rau</h4>
          <br>
          <h6>Món thịt</h6>
        </div>
      </div>
      <hr />
      <div class="order-card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Fe87c601c6e67b039e976.jpg?alt=media&token=ed661063-b2e3-4d8b-a5d8-1bd0bf26e610"
          alt=""
        />
        <div>
          <h4>Rau muống xào tỏi thêm nhiều rau</h4>
          <br>
          <h6>Món thịt</h6>
        </div>
      </div>
      <hr />
      <div class="order-card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Fe87c601c6e67b039e976.jpg?alt=media&token=ed661063-b2e3-4d8b-a5d8-1bd0bf26e610"
          alt=""
        />
        <div>
          <h4>Rau muống xào tỏi thêm nhiều rau</h4>
          <br>
          <h6>Món thịt</h6>
        </div>
      </div>
      <hr />
      <div class="order-card">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Fe87c601c6e67b039e976.jpg?alt=media&token=ed661063-b2e3-4d8b-a5d8-1bd0bf26e610"
          alt=""
        />
        <div>
          <h4>Rau muống xào tỏi thêm nhiều rau</h4>
          <br>
          <h6>Món thịt</h6>
        </div>
      </div>
      <hr />
      <button class="btn btn-primary btn-admin">Thanh toán</button>
    </div>
  </body>
</html>
