<div class="footer-main">
  <div class="container footer-contain">
    <a href="/"
      ><img
        src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Flogo-dat-com.png?alt=media&token=b175307c-f390-46e8-9ef8-69f36a1d9949"
        width="150px"
        alt="Footer image"
    /></a>
    <div class="footer-mid">
      <h3>Đặt Cơm App</h3>
      <p>
        Liên hệ: Hiệp C0323 để đặt cơm!
        <br />
        SĐT Hiệp: 0329934735
      </p>
    </div>
    <div class="footer-right">
      <h6>Dev team:</h6>
      <hr />
      <p>
        Văn - C0223G1 <br />
        Tú - C0223G1 <br />
        Mentor support: Coach Luân
      </p>
    </div>
  </div>
</div>
