<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Flogo-dat-com.png?alt=media&token=b175307c-f390-46e8-9ef8-69f36a1d9949"
      alt="logo"
      height="30px"
      style="border-radius: 50%; margin-right: 20px"
    />Đặt Cơm CG</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/"
        >Home <span class="sr-only">(current)</span></a
      >
    </div>
    <div class="login-group">
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          id="searchFood"
          placeholder="Search"
          aria-label="Search"
          name="search"
          oninput="searchFunc()"
        />
      </form>
      <a href="/cart">
        <i
          class="fa fa-shopping-cart"
          style="font-size: 24px; color: #2f2e7d"
        ></i>
      </a>
      <% if(!locals.userLogin) { %>
      <a href="/login" class="btn btn-add">Login</a>
      <% } else if (locals.userLogin.role === "Admin") { %>
      <a href="/admin" class="btn btn-add">Admin Dashboard</a>
      <a href="/logout" class="btn btn-add btn-logout">Log out</a>
      <% } else if (locals.userLogin.role === 'User') { %>
      <a href="/user" class="btn btn-add">User Dashboard</a>
      <a href="/logout" class="btn btn-add btn-logout">Log out</a>
      <% } %>
    </div>
  </div>
</nav>
<script>
  function searchFunc() {
    const value = document.getElementById("searchFood").value;
    $("#searchFood").on("input", function () {
      const query = $(this).val();
      $.get("/search", { q: query }, function (results) {
        $("#container").html(renderSearchResults(results));
      });
    });
  }

  function renderSearchResults(results) {
    let html = "";
    results.forEach((item) => {
      if (item.status) {
        html += `<div class="card">
          <div class="img_wrapper">
            <img
              class="card-img-top"
              src="${item.imageUrl}"
              alt="${item.name + item.des}"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="/detail/${item._id}"> ${item.name}</a>
            </h5>
            <h6 class="card-title">${item.type}</h6>
            <p class="card-text">${item.des}</p>

            <button class="btn btn-primary btn-add add-cart" data-id="${
              item._id
            }">
              Đặt món
            </button>
          </div>
        </div>`;
      }
    });
    return html;
  }
</script>
