<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Flogo-dat-com.png?alt=media&token=b175307c-f390-46e8-9ef8-69f36a1d9949"
      alt="logo"
      height="30px"
      style="border-radius: 50%; margin-right: 20px"
    />Đặt Cơm CG</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/"
        >Home <span class="sr-only">(current)</span></a
      >
    </div>
    <div class="login-group">
      <!-- <form class="form-inline"> -->
        <input
          class="form-control mr-sm-2 search-bar"
          type="search"
          id="searchFood"
          placeholder="Tìm theo tên món ăn, bấm Enter để tìm kiếm"
          aria-label="Search"
          name="search"
          onchange="searchFunc()"
        />
      <!-- </form> -->
      <div style="position: relative">
        <p class="btn btn-x" id="cart-counter"></p>
        <a href="/cart">
          <i
            class="fa fa-shopping-cart"
            style="font-size: 24px; color: #2f2e7d"
          ></i>
        </a>
      </div>
      <% if(!locals.userLogin) { %>
      <a href="/login" class="btn btn-add">Login</a>
      <% } else if (locals.userLogin.role === "Admin") { %>
      <a href="/admin" class="btn btn-add">Admin Dashboard</a>
      <a href="/logout" class="btn btn-add btn-logout">Log out</a>
      <% } else if (locals.userLogin.role === 'User') { %>
      <a href="/user" class="btn btn-add">User Dashboard</a>
      <a href="/logout" class="btn btn-add btn-logout">Log out</a>
      <% } %>
    </div>
  </div>
</nav>
<script>

  function checkLogin(callback) {
    $.get("/checklogin", function (results) {
      callback(results);
    });
  }

  function updateCartCount() {
    checkLogin(function (loggedIn) {
      if (loggedIn) {
        $.get("/cartcount", function (results) {
          $("#cart-counter").html(results);
        });
      } else {
        $("#cart-counter").html(0);
      }
    });
  }

  updateCartCount();

  function searchFunc() {
    const value = document.getElementById("searchFood").value;
    const origin = location.origin;
    $.ajax({
      url: `${origin}/search`,
      data: { q: value },
      method: "GET",
      success: (response) => {
        $("#container").html(renderSearchResults(response));
      },
    });
  }

  function renderSearchResults(results) {
    let html = "";
    results.forEach((item) => {
      if (item.status) {
        html += `<div class="card">
          <div class="img_wrapper">
            <img
              class="card-img-top"
              src="${item.imageUrl}"
              alt="${item.name + item.des}"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="/detail/${item._id}"> ${item.name}</a>
            </h5>
            <h6 class="card-title">${item.type}</h6>
            <p class="card-text">${item.des}</p>

            <button class="btn btn-primary btn-add add-cart" data-id="${
              item._id
            }">
              Đặt món
            </button>
          </div>
        </div>`;
      }
    });
    return html;
  }
</script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
