<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Đặt Cơm CG</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div>
      <div class="login-group">
        <a href="/cart">
          <i
            class="fa fa-shopping-cart"
            style="font-size: 24px; color: #2f2e7d"
          ></i>
        </a>
        <% if(!locals.userLogin) { %>
        <a href="/login" class="btn btn-add">Login</a>
        <% } else if (locals.userLogin.role === "Admin") { %>
        <a href="/admin" class="btn btn-add">Admin Dashboard</a>
        <% } else if (locals.userLogin.role === 'User') { %>
        <a href="/user" class="btn btn-add">User Dashboard</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
