<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt cơm CG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') -%>
    <h1 class="admin-header">Admin Dashboard</h1>
    <div class="row">
      <div class="col-sm-2 admin-left">
        <a href="/admin/food" class="btn btn-primary btn-admin"
          >Quản lý đồ ăn</a
        >
        <a href="/admin/create" class="btn btn-primary btn-admin"
          >Tạo món ăn mới</a
        >
        <a href="/admin/user/create" class="btn btn-primary btn-admin"
          >Tạo user mới</a
        >
        <a href="/admin/user" class="btn btn-primary btn-admin">Quản lý User</a>
        <a href="/admin/list" class="btn btn-primary btn-admin"
          >Danh sách đồ đặt</a
        >
      </div>
      <div class="col-sm-10 admin-right">
        <!-- <div>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/dat-com-6b42f.appspot.com/o/files%2Flogo-dat-com.png?alt=media&token=b175307c-f390-46e8-9ef8-69f36a1d9949"
              width="300px"
              alt="Logo dat com"
              style="display: block; margin: 0 auto"
            />
          </div> -->
        <h2>Tạo tài khoản user mới</h2>
        <form method="post" action="/admin/user/create">
          <div class="form-group">
            <label for="exampleInputEmail1">Tên đăng nhập</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Nhập tên đăng nhập"
              name="signinname"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Họ tên người dùng</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Nhập họ tên người dùng"
              name="username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Tên lớp</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Nhập tên lớp, ex: C0223G1"
              name="userclass"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Nhập mật khẩu"
              name="password"
            />
          </div>
          <% if(alert) { %>
          <p style="color: red"><strong><%= alert %></strong></p>
          <% } %>
          <button
            type="submit"
            class="btn btn-primary btn-login"
            style="
              width: 100%;
              background-color: #2f2e7d;
              border: 1px solid #2f2e7d;
            "
          >
            Tạo tài khoản
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
